<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - Yale Menus API</title>
        <meta property="og:title" content="{{ title }} - Yale Menus API">
        {% else %}
        <title>Yale Menus API</title>
        <meta property="og:title" content="Yale Menus API">
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Access Yale Dining data with ease!">
        <meta name="author" content="Erik Boesen">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:description" content="Access Yale Dining data with ease!">
        <meta property="og:image" content="https://yaledine.com/static/images/logo/banner.png">
        <meta name="theme-color" content="#00356b">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <link rel="icon" href="/static/images/logo/favicon.png" type="image/png">
        <link rel="icon" href="/static/images/logo/favicon.ico" type="image/x-icon">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/">
                <img src="/static/images/logo/logo.png" id="logo">
                <h2>Yale Menus API</h2>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Built by <a href="https://erikboesen.com">Erik Boesen</a>. Data property of Yale.</p>
        </footer>
    </body>
</html>
