{% extends "base.html" %}

{% block content %}
<h3>Access Yale Dining data with ease!</h3>
<p>YaleDine provides an open, standards-compliant API that developers can use to access Yale Dining's location and menu data. It replaces Yale Dining's deprecated official API, and scrapes data from Yale Dining's occupancy statistics page, the new JAMIX menus website, and various other sources, compiling it together and cleaning it up for presentation in a polished and developer-friendly API that can easily be used for your projects.</p>
<p>For questions, comments, bug reports, or suggestions, contact <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a>.</p>
{% endblock %}
