{% extends "base.html" %}

{% block content %}
<h3>Access Yale Dining data with ease!</h3>
<p>YaleDine provides an open, standards-compliant API that developers can use to access Yale Dining's dining hall and menu data. It replaces Yale Dining's deprecated official API, and scrapes data from Yale Dining's occupancy statistics page, the new JAMIX menus website, and various other sources, compiling it together and cleaning it up for presentation in a polished and developer-friendly API that can easily be used for your projects.</p>
<p>For questions, comments, bug reports, or suggestions, contact <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a>.</p>
<h1>API documentation</h1>
<h3>Endpoints</h3>
<p>All endpoints below are from the root <code>https://yaledine.com/api</code>. For example, <code>https://yaledine.com/api/halls</code>. All endpoints return a JSON response.</p>
<h4 name="endpoint_halls"><code>/halls</code></h4>
<p>Returns a list of available dining <code><a href="#object_hall">Hall</a></code> objects.</p>
<h4 name="endpoint_hall"><code>/halls/:id</code></h4>
<p>Returns a single <code><a href="#object_hall">Hall</a></code> object with the given id.</p>
<h4 name="endpoint_hall_managers"><code>/halls/:id/managers</code></h4>
<p>Returns a list of <code><a href="#object_manager">Manager</a></code> objects for the given hall.</p>
<h4 name="endpoint_hall_meals"><code>/halls/:id/meals</code></h4>
<p>Returns a list of <code><a href="#object_meal">Meal</a></code> objects for the given hall.</p>
<h4 name="endpoint_meal"><code>/meals/:id</code></h4>
<p>Returns a single <code><a href="#object_meal">Meal</a></code> object with the given id.</p>
<h4 name="endpoint_meal_items"><code>/meals/:id/items</code></h4>
<p>Returns a list of <code><a href="#object_item">Item</a></code> objects for the given meal.</p>
<h4 name="endpoint_item"><code>/items/:id</code></h4>
<p>Returns a single <code><a href="#object_item">Item</a></code> objects with the given id.</p>
<h4 name="endpoint_item_nutrition"><code>/items/:id/nutrition</code></h4>
<p>Returns a single <code><a href="#object_nutrition">Nutrition</a></code> object for the <code><a href="#object_item">Item</a></code> with the given id.</p>
{% endblock %}
